body{
    font-family: 'Dosis', sans-serif;
    background-color: rgb(223, 223, 223);

}
.link{
    color: black;
    font-family: Poppins, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
   
}

.divcontainer{
    font-size: large;
    background-color: rgba(235, 235, 235, 0.637);
}
.divmail{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: center;
    
}

.filtros{
    display: flex;
    position: relative;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    width: 700px;
   

}


.mail{
    background-image: url(../assets/icono-mail.png);
    background-size: contain;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.logo{
    background-image: url(../assets/descarga.png);
    background-size: contain;
    height: 70px;
    width: 70px;
    border-radius: 50px;

}

.cont{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: center;
    margin: 10px;
}
.image{
background-image: url(../assets/imh-home.jpg);
    background-size: contain;
    height: 500px;
    width: 500px;
    border-radius: 1000px;
}

.contei{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-content: center;
    margin-top: 30px;

}

.parrafo{
    height: 300px;
    width: 600px;
}
.divtable{
    
    margin-top: 50px;
    margin-bottom: 50px;
 
    width: 500px;

}

